#musicPlayer {
    z-index: 24;
    position: fixed;
    overflow: auto;
    max-height: calc(100% - 100px);
    top: 50px;
    right: 0;
    opacity: 0.6;
    background: rgba(0,0,0,0.1);
    border-radius: 10px 0 0 10px;
    padding: 10px;
    transition: 0.2s;
}

#musicPlayer.closed {
    overflow: hidden;
    width: 0px;
    opacity: 0!important;
}

#musicPlayer:hover:not(:empty) {
    opacity: 1;
    background: rgba(0,0,0,0.6);
}
#musicPlayer:empty {
    display:none;
}

#musicPlayer.force-show:not(:empty) {
    display: block!important;
    opacity: 1!important;
    background: rgba(0,0,0,0.6);
}

#musicPlayer > div{
    color: #fff;
}

#musicPlayerList [song-file] {
    display: flex;
}

#musicPlayerList [song-file] > div:first-child {
    flex: 1;
}

#musicPlayerList .play-song {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 12px;
    margin-right: 10px;
    color: #fff;
    background: #007bff;
    cursor: pointer;
}

#musicPlayerList .song-info{
    flex: 11;
}

#musicPlayerList > div:not(:last-child){
    margin-bottom: 10px;
}

#musicPlayer .btn-default{
    background: #333;
    color: #fff;
}
