body {
    background: #000;
}
#videoStream {
    height: 100%;
}
#videoStream, #statsHud {
    width:100%;
    position:fixed;
    top:0;
    left:0;
}
#statsHud{
    padding: 5px;
    z-index: 22;
    color: #fff;
    font-family: monospace;
    line-height: 1;
}
.stats-badge {
    opacity: 0.3;
    transition: 0.2s;
}
.stats-badge:hover {
    opacity: 1;
}

#logs {
    z-index: 21;
    position: fixed;
    overflow: auto;
    max-height: calc(100% - 100px);
    bottom: 50px;
    left: 0;
    opacity: 0.6;
    font-family: monospace;
    background: rgba(0,0,0,0.1);
    border-radius: 0 10px 10px 0;
    padding: 10px;
}
#logs:hover:not(:empty) {
    opacity: 1;
    background: rgba(0,0,0,0.6);
}
#logs:empty {
    display:none;
}

#logs.force-show:not(:empty) {
    display: block!important;
    opacity: 1!important;
    background: rgba(0,0,0,0.6);
}

#logs > div{
    color: #fff;
}

#logs > div:not(:last-child){
    margin-bottom: 5px;
}

#logs .btn-default{
    background: #333;
    color: #fff;
}
/* chat bar */

#chatBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding:5px;
    margin:0;
    z-index: 24;
}
#chatBarInput {
    opacity: 0;
    transition: 0.2s;
}

#chatBarInput:hover,#chatBarInput:focus {
    opacity: 1;
}
/* player list */
#playerList {
    z-index: 24;
    position: fixed;
    overflow: auto;
    max-height: calc(100% - 100px);
    top: 50px;
    right: 0;
    opacity: 0.6;
    font-family: monospace;
    background: rgba(0,0,0,0.1);
    border-radius: 10px 0 0 10px;
    padding: 10px;
}
#playerList:hover:not(:empty) {
    opacity: 1;
    background: rgba(0,0,0,0.6);
}
#playerList:empty {
    display:none;
}

#playerList.force-show:not(:empty) {
    display: block!important;
    opacity: 1!important;
    background: rgba(0,0,0,0.6);
}

#playerList > div{
    color: #fff;
}

#playerList .user-row {
    padding: 2px 5px 0 5px;
}

#playerList .user-row:hover {
    background: rgba(0,0,0,0.6);
    cursor: default;
    border-radius: 5px;
}

#playerList .give-control {
    cursor: pointer;
}

#playerList > div:not(:last-child){
    margin-bottom: 5px;
}

#playerList .btn-default{
    background: #333;
    color: #fff;
}
