<head>
    <title>Nintendo Switch in the Web Browser by Moe Alam (moeiscool), Community Plays!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/libs/css/styles.css"/>
    <link rel="stylesheet" href="/libs/css/musicPlayer.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/libs/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/libs/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/libs/icon/favicon-16x16.png">
    <link rel="manifest" href="/libs/icon/site.webmanifest">
    <link rel="mask-icon" href="/libs/icon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/libs/icon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/libs/icon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>
