<!-- Key Map UI -->
<div class="modal fade" tabindex="-1" id="keyMapper">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">Keyboard Mapper</h5>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <div class="dropdown show">
                <button id="keyMapSelectMenu" data-toggle="dropdown" class="btn btn-sm btn-block btn-primary" type="button"><i class="fa fa-pencil-square-o"></i> Click Here to see Presets</button>
                <div class="dropdown-menu" aria-labelledby="keyMapSelectMenu">
                  <a class="dropdown-item select-key-map" href="#" select-key-map="botw">Zelda : Breath of the Wild (Default)</a>
                  <a class="dropdown-item select-key-map" href="#" select-key-map="mkart8">Mario Kart</a>
                  <a class="dropdown-item select-key-map" href="#" select-key-map="ghost">Ghost of Tsushima</a>
                </div>
              </div>
          </div>
          <div class="form-group">
              <button type="button" class="btn btn-sm btn-block btn-success saveCustomMapSet">Save changes</button>
          </div>
          <div class="form-group">
            <button id="addNewKeyMap" class="btn btn-sm btn-block btn-info" type="button">Add Key</button>
          </div>
          <div class="form-group">
            <button id="setAsDefault" class="btn btn-sm btn-block btn-warning" type="button">Apply Default (Destroys Current Settings)</button>
          </div>
          <div id="keyMapperList">
          </div>
      </div>
      <div class="modal-footer">
        <button id="saveCustomMapSet" type="button" class="btn btn-success">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Key Map UI // -->
