<div id="statsHud">
    <a href="#" class="stats-badge badge badge-primary" title="Current Number of Viewers">
        <i class="fa fa-eye"></i>
        <span id="statsViewers"></span>
    </a>
    <a class="btn stats-badge badge badge-info" href="/">
        <i class="fa fa-home"></i>
        All Games
    </a>
    <div class="dropdown show" style="display:inline-block">
      <a href="#" class="btn stats-badge badge badge-info dropdown-toggle" id="playerSelectMenu" data-toggle="dropdown">
          <i class="fa fa-bars"></i>
          Options
      </a>
      <div class="dropdown-menu" aria-labelledby="playerSelectMenu">
        <a class="dropdown-item" data-toggle="modal" data-target="#userSettings">Change Username</a>
        <a class="dropdown-item" data-toggle="modal" data-target="#keyMapper">Keyboard Button Mapper</a>
        <a class="dropdown-item focus-chat">Open Chat (ESC)</a>
        <a class="dropdown-item toggle-music-player">Music Player</a>
        <a class="dropdown-item vote-controller-unbind">Vote Soft-Boot on Current Player</a>
      </div>
    </div>
    <!-- <a href="#" class="btn stats-badge badge badge-primary fps-throttle">
        <i class="fa fa-clock"></i>
        FPS Throttle
    </a> -->
    <a href="#" class="btn stats-badge badge badge-primary" title="Ping Time">
        <i class="fa fa-random"></i>
        <span id="pingTime"><i class="fa fa-spinner fa-pulse"></i></span> ms
    </a>
    <a class="btn stats-badge badge badge-danger" data-toggle="modal" data-target="#keyMapper">
        <i class="fa fa-keyboard"></i>
        Key Mapper
    </a>
    <a class="btn stats-badge badge badge-danger" data-toggle="modal" data-target="#userSettings">
        <i class="fa fa-user"></i>
        Change Name
    </a>
    <a href="#" class="btn stats-badge badge badge-primary play-stream-blurred">
        <i class="fa fa-exclamation-triangle"></i>
        Allow Background Streaming
    </a>
    <!-- <a href="#" class="btn stats-badge badge badge-primary vote-controller-reset">
        <i class="fa fa-retweet"></i>
        Vote to Restart Controller
    </a> -->
    <a class="btn stats-badge badge badge-warning can-i-play">
        <i class="fa fa-gamepad"></i>
        Request to Play
    </a>
    <div class="dropdown show" style="display:inline-block">
      <a href="#" class="btn stats-badge badge badge-warning dropdown-toggle" id="playerSelectMenu" data-toggle="dropdown">
          <i class="fa fa-thumbs-up"></i>
          Follow Community Plays!
      </a>
      <div class="dropdown-menu" aria-labelledby="playerSelectMenu">
        <a class="dropdown-item" target="_blank" href="https://www.youtube.com/channel/UCuvEmaGzsTvbmdJHQfAZaSw">YouTube Archive and Compilations</a>
        <a class="dropdown-item" target="_blank" href="https://www.twitch.tv/moewashere">Twitch Live Stream</a>
        <a class="dropdown-item" target="_blank" href="https://discord.gg/f7Ur2VcZhf">Community Chat</a>
        <a class="dropdown-item" target="_blank" href="https://twitter.com/CommunityPlaaz">Twitter News Feed</a>
      </div>
    </div>
    <% if(gameConsole.canPlay > 1){ %>
    <div class="dropdown show" style="display:inline-block">
      <a href="#" class="btn stats-badge badge badge-primary dropdown-toggle" id="playerSelectMenu" data-toggle="dropdown">
          <i class="fa fa-gamepad"></i>
          Player Select
      </a>
      <div class="dropdown-menu" aria-labelledby="playerSelectMenu">
        <a class="dropdown-item" href="#" select-controller="0">Player 1</a>
        <a class="dropdown-item" href="#" select-controller="1">Player 2</a>
        <a class="dropdown-item" href="#" select-controller="2">Player 3</a>
        <a class="dropdown-item" href="#" select-controller="3">Player 4</a>
      </div>
    </div>
    <% } %>
</div>
