<!-- Key Map UI -->
<div class="modal fade" tabindex="-1" id="userSettings">
  <div class="modal-dialog">
    <form class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">User Settings</h5>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <input placeholder="Your Name, Please be respectful" name="mynameis" type="text" class="form-control form-control-sm" value="" />
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Save changes</button>
      </div>
    </form>
  </div>
</div>
<!-- Key Map UI // -->
