<script>var consoleId = `<%- consoleId %>`</script>
<script>var kbdefault = `<%- gameConsole.kbdefault %>`</script>
<%- include('blocks/header'); -%>
<canvas id="videoStream" width=800 height=600 style=""></canvas>
<div id="gamepadPrompt"></div>
<%- include('blocks/menu'); -%>
<div id="logs"></div>
<div id="playerList"></div>
<%- include('blocks/musicPlayer'); -%>
<form id="chatBar" autocomplete="off">
    <input class="form-control form-control-sm" id="chatBarInput" placeholder="Type to send a message">
</form>
<%- include('blocks/keyboardMapper'); -%>
<%- include('blocks/userSettings'); -%>
<%- include('blocks/footer'); -%>
